$std-pad: 20px;

* {
  font-family: Arial, Helvetica, sans-serif;
}

.profile-box {
  padding: $std-pad;
  background-color: lightgrey;
  border: 2px solid darkgrey;
  margin: 0 auto;
  width: fit-content;
  height: 100%;
  font-size: 1.5em;

  label {
    font-size: 0.75em;
  }
  input {
    font-size: 1.0em;
  }
  button {
    color: green;
    font-size: 1.0em;
  }
}

.alert {
  padding: $std-pad;
  background-color: pink;
  border: 2px solid red;
  margin: 0 auto;
  width: fit-content;
  height: 100%;
  font-size: 1.5em;
}