{% extends "mainview.html" %}

{% block mainview %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('search') }}">Search</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ book.title }}</li>
    </ol>
  </nav>
  <div class="container bookview">
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <img class="bookcover" alt="No bookcover available" src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg">
        <span class="cover-link">
          Cover from <a href="http://openlibrary.org/isbn/{{ book.isbn }}">openlibrary.org</a>
        </span>
      </div>

      <div class="col-lg-8 col-sm-12">
        <span class="title">{{ book.title }}</span><br>
        <span class="author">{{ book.author }}</span>
        <span class="isbn">- ISBN {{ book.isbn }}</span><br>
        <br>
        <span class="year">Published in {{ book.year }}</span><br>
        {% if ratings.ratings_count == 0 %}
          <span class="rating">{{ site }}: no ratings</span>
        {% else %}
          <span class="rating">{{ site }}: rating {{ ratings.average_rating|round(2) }}</span>
          <span class="rating">
            ({{ ratings.ratings_count }}
            {{ 'rating' if ratings.ratings_count == 1 else 'ratings' }})
          </span>
        {% endif %}
        <br>
        {% if ratings.gr_ratings_count == 0 %}
          <span class="rating">Goodreads: no ratings</span>
        {% else %}
          <span class="rating">Goodreads: rating {{ ratings.gr_average_rating }}</span>
          <span class="rating">
            ({{ ratings.gr_ratings_count }}
            {{ 'rating' if ratings.gr_ratings_count == 1 else 'ratings' }})
          </span>
        {% endif %}
        <br><br>
        {% if ownreview is none %}
          <form class="own-review" action="{{ url_for('book', isbn=book.isbn) }}" method="post">
            <span class="heading">Your review</span><br>
            <label for="rating">Add your rating (1-5)</label>
            <input name="rating" id="rating" type="number" min="1" max="5" step="1" value="3"><br>
            <textarea name="reviewtext" id="reviewtext" rows="7" maxlength="1000" placeholder="Enter your review"></textarea><br>
            <button>Submit</button>
          </form>
        {% else %}
          <div class="own-review">
            <span class="heading">Your review</span><br>
            <span class="rating">Rating {{ ownreview.rating }}</span><br>
            <span class="date">Reviewed on {{ ownreview.time.year }}/{{ ownreview.time.month }}/{{ ownreview.time.day }}</span><br>
            <textarea readonly class="review-display">{{ ownreview.review_text }}</textarea><br>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="reviews">
          <span class="heading">Reviews</span><br><br>
          {% for review in reviews %}
            <span class="fa fa-user username"> {{ review.username }}</span><br>
            <span class="rating">Rating {{ review.rating }}</span><br>
            <span class="date">Reviewed on {{ review.time.year }}/{{ review.time.month }}/{{ review.time.day }}</span><br>
            <textarea readonly class="review-display">{{ review.review_text }}</textarea><br>
            <br>
          {% endfor%}
        </div>
      </div>
    </div>

  </div>
{% endblock %}
