{% extends "profile.html" %}

{% block form %}
  <h3>Sign in to {{ site }}</h3>
  <form action="{{ url_for('signin') }}" method="post">
    <label for="username">Username</label><br>
    <input name="username" id="username" type="text" placeholder="Username"><br>
    <br>
    <label for="password">Password</label><br>
    <input name="password" id="password" type="password" placeholder="Password"><br>
    <br>
    <button>Sign in</button><br>
    <br>
    Not a member? <a href="{{ url_for('signup') }}">Sign up</a>
  </form>
{% endblock %}
